

.box {
  background: lightblue;
  width: 500px;
  height: 2px;
  margin: 200px auto;
  transition: transform 5s linear, width 5s;
  transform-origin: left;
  transform-style: preserve-3D;
}

.box-rotate {
  width: 1000;
  /* transform: scale(0); */
}

button {
  display: block;
  margin: auto;
  User-select: none;
}