body{
  margin: 0;
  background: white; 
  text-align: center;
}

.wrapper {
  border: 3px solid blue;
}

.container {
  background-color: pink;
}

.barCompleted {
  background-color: lightblue;
  width: 80%;
}

.label {
  font-size: 20px;
  color: green;
}

.box {
  background: lightblue;
  width: 500px;
  height: 2px;
  margin: 200px auto;
  transition: transform 5s linear, width 5s;
  transform-origin: left;
  transform-style: preserve-3D;
}

.box-rotate {
  width: 1000;
  /* transform: scale(0); */
}

button {
  display: block;
  margin: auto;
  User-select: none;
}